/* no-js version */

body :target[data-accordion] {
	// @apply  bg-grey;

	[data-accordion-panel] {
		display: block !important;
	}
}

[data-accordion-panel] {
	transition: height 300ms ease;

	&:focus {
		outline: 2px solid green;
	}
}
