{% import '@helpers' as h %}

<ul id="steps" data-behaviour="accordionExample">
  <li>
		<a data-accordion-button href="#step-1">button</a>
		<div id="step-1" class="hidden bg-white overflow-hidden" data-accordion-panel>
			<div>
				this is some content
			</div>
			<div>
				this is some content
			</div>
			<div>
				this is some content
			</div>
			<div>
				this is some content
			</div>
		</div>
	</li>
	<li>
		<a data-accordion-button href="#step-2">button</a>
		<div id="step-2" class="hidden bg-white overflow-hidden"data-accordion-panel>
			<div>
				this is some content
			</div>
			<div>
				this is some content
			</div>
			<div>
				this is some content
			</div>
			<div>
				this is some content
			</div>
		</div>
	</li>
</ul>