.o-checkbox {
	&:checked {
		& ~ label {
			.icon {
				opacity: 1;
			}
		}
	}

	&:focus {
		& ~ label {
			.o-checkbox__button {
				@apply border-grey-darker;
			}
		}
	}

	& ~ label {
		cursor: pointer;
	}

	&:disabled {
		& ~ label {
			opacity: 0.3;
			cursor: default;
		}
	}
}

.o-checkbox__button {
	width: rem(25px);
	height: rem(25px);

	.icon {
		width: rem(15px);
		opacity: 0;
		transition: opacity 200ms ease;
	}
}
