@include mq($from: breakpoint('lg')) {
	.c-nav__dropdown {
		top: calc(100% - #{rem(4px)});
		transform: translate3d(0, rem(5px), 0);
		transition: opacity 300ms ease, transform 300ms ease;

		/*
      add some hidden space to the sides and below the
      dropdown for user friendly mouse fun!
    */

		&::before {
			@apply .absolute .pin-t .block;

			left: rem(-20px);
			right: rem(-20px);
			bottom: rem(-20px);
			content: ' ';
			z-index: -1;
		}
	}

	.c-nav__parent {
		&:hover {
			.c-nav__dropdown {
				pointer-events: auto;
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}

@include mq($until: breakpoint('lg')) {
	.c-nav__item-btn {
		width: rem(40px);
		height: rem(40px);

		.icon {
			width: rem(10px);
		}
	}

	.c-nav__dropdown:target {
		@apply .opacity-100 .pointer-events-auto .block;

		transform: translate3d(0, 0, 0);
	}
}
