{% import '@helpers' as h %}


<nav class="c-nav" role="navigation" aria-label="Main menu">
  <ul class="list-reset lg:inline-flex bg-grey-lighter relative">

    {% for i in range(0, 6) %}

      <li role="menuitem" class="flex flex-wrap items-center justify-between lg:border-0">
        <a class="block no-underline p-0-5 text-grey-darker" href="#">Item number {{ loop.index }}</a>
      </li>

    {% endfor %}

  </ul>
</nav>