
{% include '@button' with { text: 'Open', attribute:'data-canvas-open' } %}

<div class="c-off-canvas fixed pin w-screen h-screen">
  <div data-canvas-close class="absolute pin bg-black-60pc w-full h-full">
    <div class="absolute pin-t pin-l w-full max-w-md bg-white h-full">
      {% include '@close-button' with { className: 'c-modal__btn', attributes: 'data-canvas-close' } %}
    </div>
  </div>
</div>