<nav class="c-pagination flex items-center justify-between" role="navigation" aria-label="pagination">
  <a href="#0" class="no-underline whitespace-no-wrap flex items-center justify-center p-2 border text-blue hover:text-blue-darker">Previous</a>
  <ul class="hidden list-reset sm:flex items-center justify-center flex-grow">
    <li class="mx-2">
      <a href="#0" class="no-underline c-pagination__num text-center block p-2 border text-blue hover:text-blue-darker" aria-label="Goto page 1">1</a>
    </li>
    <li class="mx-2">
      <span class="c-pagination__num text-center block p-2">&hellip;</span>
    </li>
    <li class="mx-2">
      <a href="#0" class="no-underline c-pagination__num text-center block p-2 border text-blue hover:text-blue-darker" aria-label="Goto page 1">10</a>
    </li>
    <li class="mx-2">
      <a href="#0" class="no-underline c-pagination__num text-center block p-2 border text-blue hover:text-blue-darker" aria-label="Goto page 1">11</a>
    </li>
    <li class="mx-2">
      <a href="#0" class="no-underline c-pagination__num text-center block p-2 border text-blue hover:text-blue-darker" aria-label="Goto page 1">12</a>
    </li>
    <li class="mx-2"><span class="c-pagination__num text-center block p-2">&hellip;</span></li>
    <li class="mx-2">
      <a href="#0" class="no-underline c-pagination__num text-center block p-2 border text-blue hover:text-blue-darker" aria-label="Goto page 1">20</a>
    </li>
  </ul>
  <a href="#0" class="no-underline whitespace-no-wrap flex items-center justify-center p-2 border text-blue hover:text-blue-darker">Next page</a>
</nav>