{% import '@helpers' as h %}

<div class="c-select relative flex">
  <select id="title" name="title" class="block w-full appearance-none w-full h-full px-0-5 py-0-5" {{ attr }}>
    <option value="" selected>Please choose</option>

    <option value="Mr">Mr</option>
    <option value="Miss">Miss</option>
    <option value="Mrs">Mrs</option>
    <option value="Ms">Ms</option>

    <option value="Dr">Dr</option>
    <option value="Other">Other</option>
  </select>
</div>