[data-slide-item='hide-next'],
[data-slide-item='hide-prev'] {
	z-index: 2;
	animation: fadeOut 4500ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

[data-slide-item='show-prev'],
[data-slide-item='show-next'] {
	z-index: 1;
}

/*
  In order to fade out properly we need to make sure
  that the item that is going to be the previous one
  has a higer z-index that the next one
 */
[data-slide-item].is-current {
	position: relative;
	visibility: visible;
}

[data-slide-prev],
[data-slide-next] {
	width: rem(20px);

	&[disabled] {
		opacity: 0.5;
	}
}

.c-slide__pagination {
	@apply flex items-center justify-center py-1;
}

[data-slide-pager] {
	@apply mx-0-25 rounded-full bg-grey;

	width: rem(10px);
	height: rem(10px);
}

[data-slide-pager='active'] {
	@apply bg-black;
}
