.c-slide__item {
	& > img {
		pointer-events: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.c-slide__item--current {
	position: relative;
	visibility: visible;
}

.c-slide__item--hidePrevious,
.c-slide__item--hideNext {
	visibility: visible;
	animation: fadeOut 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/*
  In order to fade out properly we need to make sure
  that the item that is going to be the previous one
  has a higer z-index that the next one
 */

.c-slide__item--hidePrevious,
.c-slide__item--hideNext {
	z-index: 2;
}

.c-slide__item--showPrevious,
.c-slide__item--showNext {
	z-index: 1;
}

.c-slide__btn {
	top: 50%;
	transform: translate3d(0, -50%, 0);
	color: #000;
}

.c-slide__btn--prev {
	left: gutter(1);
}

.c-slide__btn--next {
	right: gutter(1);
}
