{% import '@helpers' as h %}

<div class="relative overflow-hidden" data-ui="slide" data-ui-options='{{ options|json_encode }}'>
  <ul class="list-reset relative">

    {% block slideContent %}
      {% for i in range(0, 10) %}
        <li data-slide-item class="{% if loop.index0 == 0 %}is-current{% endif %} invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
          {{ loop.index }}
        </li>
      {% endfor %}
    {% endblock %}


  </ul>

  {% block slideButtons %}
    <button href="#0" data-slide-prev class="pin-l pin-t-50 y--50 block absolute z-10 text-grey-darkest">
      {{ h.symbol('ui-prev') }}
    </button>
    <button data-slide-next class="pin-r pin-t-50 y--50 block absolute z-10 text-grey-darkest">
      {{ h.symbol('ui-next') }}
    </button>
  {% endblock %}

</div>