.c-radio__box {
	&::before {
		@apply .border-2 .rounded-full .shadow-none .mr-1;

		transition: background-color 300ms ease;
		width: rem(15px);
		height: rem(15px);
		content: ' ';
	}
}

.c-radio {
	&:checked + .c-radio__box {
		&::before {
			@apply .bg-blue;
		}
	}
}
