{% import '@helpers' as h %}

{# @input #}
<div class="relative overflow-hidden rounded">
  <div class="flex items-center px-0-5 py-0-5 text-white bg-blue absolute pin-l h-full">
    {{ h.symbol('ui-tick') }}
  </div>
  <input type="text" placeholder="text input" type="text" id="text-input-1" name="text-input-1" class="c-input flex-1 pl-2-5">
</div>