{% import '@helpers' as h %}

<button {{ attributes }} class="o-close pin-t pin-r mt-1 mr-1 absolute flex items-center justify-center">
  <span class="block relative">
    {{ h.symbol('ui-close') }}
  </span>
</button>