.c-label--floating {
	label {
		cursor: text;
		transform: translateY(-85%);
	}

	input,
	select,
	textarea {
		&::placeholder {
			opacity: 1;
			transition: all 0.2s;
		}

		&:placeholder-shown:not(:focus)::placeholder {
			opacity: 0;
		}

		&:placeholder-shown:not(:focus) + * {
			opacity: 0.5;
			transform: translateY(0%);
			top: 0;
		}
	}
}
