{% import '@helpers' as h %}

{# @input #}
<div class="c-label--floating relative">
  <input class="c-input" id="email" type="email" placeholder="email@example.com" />
  <label for="email" class="absolute block h-full pin-t pin-l opacity-75 trans px-0-5 py-0-5">Email</label>
</div>