<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../fractal/css/default.css?cachebust=1.2.0" type="text/css">

<link rel="stylesheet" href="../../dist/css/theme.1516316180293.css?cachebust=1.2.0" type="text/css">


<title>Tabs | spon-ui</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>spon-ui</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-a744360511c0d3e3505468787b43f7c1">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/tabs.html" title="Component preview">
            Tabs
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #FF9233; border-color: #FF9233;">WIP</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-a744360511c0d3e3505468787b43f7c1">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/tabs.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-a744360511c0d3e3505468787b43f7c1">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-a744360511c0d3e3505468787b43f7c1-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-a744360511c0d3e3505468787b43f7c1-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-a744360511c0d3e3505468787b43f7c1-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-a744360511c0d3e3505468787b43f7c1-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-a744360511c0d3e3505468787b43f7c1-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-a744360511c0d3e3505468787b43f7c1-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-a744360511c0d3e3505468787b43f7c1-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs"</span> <span class="hljs-attr">data-ui</span>=<span class="hljs-string">"tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"list-reset border-b-2 flex items-stretch"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-tab-button</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#tab-1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest"</span>&gt;</span>Tab 1<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-tab-button</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#tab-2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest"</span>&gt;</span>Tab 2<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-tab-button</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#tab-3"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest"</span>&gt;</span>Tab 3<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-tab-button</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#tab-4"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest"</span>&gt;</span>Tab 4<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-tab-button</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#tab-5"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest"</span>&gt;</span>Tab 5<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-container</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__container relative overflow-hidden"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-item</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tab-1"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__item c-tab__item--active absolute invisible pointer-events-none pin"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-3"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-3"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>1. Illum Sequi<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
                    esse voluptatem consequuntur vero quia mollitia omnis ut et atque ullam voluptates earum aliquid occaecati consectetur eaque voluptas
                <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Optio exercitationem quas. Incidunt exercitationem hic maiores temporibus. Quia provident assumenda nobis.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Non nobis ratione consequatur. Doloribus vel similique cumque facilis aut magnam est. Odio veniam impedit cum eos sint libero labore et. Ad et eos cumque quisquam voluptates eum praesentium ea inventore. Eos enim minima magnam dolorum.
                    Numquam voluptatem beatae qui non maxime dolores earum occaecati sit.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Et rerum explicabo qui minus perspiciatis ut. Eveniet similique dolor ut quia aliquam ex corporis voluptatum et. Ut a est quia voluptate.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Rerum optio commodi. Est est dignissimos voluptas sunt non est qui. Ut eveniet necessitatibus omnis rerum tenetur iure illo in. Omnis nihil veritatis natus voluptas beatae praesentium et nesciunt facere. Excepturi voluptatem praesentium
                    ex eos consequuntur fugiat omnis atque corrupti. Velit non eveniet id nisi quasi optio quia.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-item</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tab-2"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__item  absolute invisible pointer-events-none pin"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-3"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-3"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>2. Exercitationem Perferendis Molestiae Assumenda Laboriosam Ullam<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
                    esse cum
                <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Nam minima vitae corporis impedit ut. Veniam voluptatibus tempora. Reiciendis eius ea similique quas ut.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Sunt perspiciatis pariatur ratione recusandae qui et ut dolore in. Non ut ad cupiditate sapiente quibusdam ea quos. Cumque qui laboriosam necessitatibus et harum ad. Placeat et incidunt nobis sint necessitatibus dolores quae. Porro aut
                    quas rerum quod aliquam nam et quidem. Laborum et officia est et nemo doloremque et.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Ut excepturi vero modi modi. Veritatis aspernatur libero amet esse quia in qui. Eveniet id repudiandae ut ut veritatis neque.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Quis dolorum rerum autem voluptatem. Beatae qui nemo. Quisquam voluptas excepturi et. Ut nemo culpa veritatis ut et libero.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-item</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tab-3"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__item  absolute invisible pointer-events-none pin"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-3"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-3"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>3. Velit Soluta Repudiandae Minima<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
                    omnis voluptatem facere dolorum ab ut voluptate enim magni et et
                <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Magni animi nemo consequatur a optio at et quas. Iusto nihil et perferendis dolores totam aperiam nam. Voluptatem dolores quis aut quaerat accusamus sed aut aut. Vel et corporis. Porro voluptatibus sit eos.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Aut placeat soluta. Quo numquam adipisci qui non eum. Eum cum consequatur sit aut fuga. Ut architecto ea tempore magnam. Sapiente consequatur omnis sint accusantium ex praesentium. Commodi eos deleniti quia illum id totam.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Delectus et sapiente sapiente. Officia perspiciatis et. Ad minima cupiditate aperiam sint culpa libero. Qui ipsum omnis.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-item</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tab-4"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__item  absolute invisible pointer-events-none pin"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-3"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-3"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>4. <span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
                    velit
                <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Quia eos rerum est deleniti ipsum et voluptatem dolorum sed. Soluta qui sint neque magnam quia placeat aut accusantium nulla. Ut aut necessitatibus aut dolores saepe nihil. Animi voluptatem doloribus autem voluptas vitae. Voluptas quisquam
                    ut rerum.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Quia nobis occaecati. Itaque non deleniti natus eaque dolores dolores. Et cumque tempore nobis. Quae quaerat molestias.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-item</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tab-5"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__item  absolute invisible pointer-events-none pin"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-3"</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-3"</span>&gt;</span>
                    <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span>5. Adipisci Et<span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
                <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
                    hic qui dolores eum sunt non sit corrupti voluptas nihil sit ea quo ipsum expedita eaque et neque distinctio eos sapiente neque ducimus ducimus accusamus ut quo nam tempora laborum et
                <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Explicabo eius consequatur. Suscipit non quas qui voluptas. Dolorem ut omnis temporibus repellendus et est atque. Veritatis dolor quis eligendi non. Sit dicta facere necessitatibus eaque eligendi iure voluptatum. Aut libero ullam cumque
                    nihil et ipsum.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Veritatis aut vel iure totam molestiae vel eligendi. Nisi magni sint. Quas molestiae excepturi. Cum fugiat similique.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-a744360511c0d3e3505468787b43f7c1-panel-view">
    <code class="Code Code--lang-twig">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs"</span> <span class="hljs-attr">data-ui</span>=<span class="hljs-string">"tabs"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"list-reset border-b-2 flex items-stretch"</span>&gt;</span>
    </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">for</span></span> i in <span class="hljs-name">range</span><span class="hljs-params">(1, 5)</span> %}</span><span class="xml">
      <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">data-tab-button</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#tab-</span></span></span><span class="hljs-template-variable">{{ loop.index }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"no-underline block p-2 bg-grey-lighter hover:bg-grey text-black hover:text-grey-darkest"</span>&gt;</span>Tab </span><span class="hljs-template-variable">{{ i }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">endfor</span></span> %}</span><span class="xml">
  <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-container</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__container relative overflow-hidden"</span>&gt;</span>
    </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">for</span></span> i in <span class="hljs-name">range</span><span class="hljs-params">(1, 5)</span> %}</span><span class="xml">
      <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">data-tab-item</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tab-</span></span></span><span class="hljs-template-variable">{{ loop.index }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-tabs__item </span></span></span><span class="hljs-template-variable">{{ loop.index == 1 ? 'c-tab__item--active' : '' }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string"> absolute invisible pointer-events-none pin"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"p-3"</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">header</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-3"</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-name">h2</span>&gt;</span></span><span class="hljs-template-variable">{{ i }}</span><span class="xml">. </span><span class="hljs-template-variable">{{ lorem|<span class="hljs-keyword">title</span>(<span class="hljs-name">random</span><span class="hljs-params">(10)</span>) }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">h2</span>&gt;</span>
          <span class="hljs-tag">&lt;/<span class="hljs-name">header</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>
            </span><span class="hljs-template-variable">{{ lorem|lorem(<span class="hljs-name">random</span><span class="hljs-params">(40)</span>) }}</span><span class="xml">
          <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
          </span><span class="hljs-template-variable">{{ lorem|paragraphs(<span class="hljs-name">random</span><span class="hljs-params">(5)</span>) }}</span><span class="xml"> 
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    </span><span class="hljs-template-tag">{% <span class="hljs-name"><span class="hljs-keyword">endfor</span></span> %}</span><span class="xml">
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-a744360511c0d3e3505468787b43f7c1-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"siteTitle"</span>: <span class="hljs-string">"Mudstone Component Library"</span>,
  <span class="hljs-attr">"craft"</span>: {
    <span class="hljs-attr">"app"</span>: {
      <span class="hljs-attr">"config"</span>: {
        <span class="hljs-attr">"general"</span>: {
          <span class="hljs-attr">"custom"</span>: {
            <span class="hljs-attr">"objects"</span>: <span class="hljs-string">"/02-objects/"</span>,
            <span class="hljs-attr">"global"</span>: <span class="hljs-string">"../03-global/"</span>,
            <span class="hljs-attr">"components"</span>: <span class="hljs-string">"/04-components/"</span>,
            <span class="hljs-attr">"pages"</span>: <span class="hljs-string">"/05-pages/"</span>,
            <span class="hljs-attr">"macros"</span>: <span class="hljs-string">"/macros/"</span>,
            <span class="hljs-attr">"wrapper"</span>: <span class="hljs-string">"/wrapper/"</span>
          }
        }
      }
    }
  }
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-a744360511c0d3e3505468787b43f7c1-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-bf275b09a34b01dcd67b4d8f3f2c56bb">_tabs.scss</option>
                
                <option value="file-8ee079c3f7af3adca5df74d126aaff08">tabs.js</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-bf275b09a34b01dcd67b4d8f3f2c56bb" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-selector-class">.c-tab__item--active</span> {
	<span class="hljs-attribute">position</span>: relative;
	<span class="hljs-attribute">visibility</span>: visible;
	<span class="hljs-attribute">pointer-events</span>: auto;
}

<span class="hljs-selector-class">.c-tabs__item</span> {
	<span class="hljs-selector-tag">p</span> {
		<span class="hljs-attribute">margin-bottom</span>: gutter(<span class="hljs-number">1</span>);
	}
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/tabs/_tabs.scss"><span>/components/raw/tabs/_tabs.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/templates/components/tabs/_tabs.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">146 Bytes</span>
                </li>
            </ul>
        </div>
        
        <div class="FileBrowser-item" id="file-8ee079c3f7af3adca5df74d126aaff08" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-JavaScript FileBrowser-code">
                                <pre><span class="hljs-keyword">import</span> Tabs <span class="hljs-keyword">from</span> <span class="hljs-string">'@/ui/SponTabs'</span>

<span class="hljs-keyword">const</span> tabs = <span class="hljs-keyword">new</span> Tabs(<span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">'[data-ui="tabs"]'</span>))

tabs.init()
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/tabs/tabs.js"><span>/components/raw/tabs/tabs.js</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/templates/components/tabs/tabs.js</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">113 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-a744360511c0d3e3505468787b43f7c1-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@tabs</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/tabs.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/tabs.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/templates/components/tabs/tabs.twig</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-a744360511c0d3e3505468787b43f7c1-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="card.html" data-pjax>
                <span>Card</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="dropdown.html" data-pjax>
                <span>Dropdown</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="menu.html" data-pjax>
                <span>Menu</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="modal.html" data-pjax>
                <span>Modal</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="navigation.html" data-pjax>
                <span>Navigation</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="off-canvas.html" data-pjax>
                <span>Off Canvas</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pagination.html" data-pjax>
                <span>Pagination</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="slide.html" data-pjax>
                <span>Slide</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Tabs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="video.html" data-pjax>
                <span>Video</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="close-button.html" data-pjax>
                <span>Close Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="image.html" data-pjax>
                <span>Image</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="table.html" data-pjax>
                <span>Table</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-form">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Form</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="checkbox.html" data-pjax>
                <span>Checkbox</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="input.html" data-pjax>
                <span>Input</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="radio.html" data-pjax>
                <span>Radio</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="select.html" data-pjax>
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="textarea.html" data-pjax>
                <span>Textarea</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #FF9233;" title="WIP"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/css.html" data-pjax>
                <span>CSS</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/javascript.html" data-pjax>
                <span>Javascript</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../fractal/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
