.o-radio {
	&:checked {
		& ~ label {
			.o-radio__button {
				// @apply  shadow-inset-5px;
			}
		}
	}

	&:focus {
		& ~ label {
			.o-radio__button {
				// @apply  border-grey;
			}
		}
	}

	& ~ label {
		cursor: pointer;
	}

	&:disabled {
		& ~ label {
			opacity: 0.3;
			cursor: default;
		}
	}
}

.o-radio__button {
	width: rem(20px);
	height: rem(20px);
}
