{% import '@helpers' as h %}

<div>
	<input class="visuallyhidden o-radio" type="radio" id="{{ id }}" name="radio-group" {{ attr|default('') }}>
	<label class="flex items-center" for="{{ id }}">
		<span class="o-radio__button mr-0-5 shadow-inset-px rounded-full text-grey  flex items-center justify-center"></span>
		<span>Radio button label</span>
	</label>
</div>
