.dropdown-menu {
	top: 100%;
	transform: translateY(2rem);
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0ms 0.3s;
}

.dropdown-menu.is-open,
.no-js [data-dropdown-menu]:target {
	transition-delay: 0ms;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translateY(0.5rem);
}
