.c-dropdown {
}

.c-dropdown__btn {
	&::after {
		@apply .border-b .border-l .border-blue .block .z-10 .pointer-events-none;

		content: ' ';
		margin-top: rem(-5px);
		height: rem(10px);
		width: rem(10px);
		transform: rotate(-45deg);
		transform-origin: center;
	}
}

.c-dropdown__menu {
	top: 100%;
	// transform-origin: 0 0 !important;
}