.c-dropdown__btn {
	&.is-active {
		// @apply  bg-grey-lighter;

		.c-dropdown__icon {
			// @apply  .rotate-180;
		}
	}

	.icon {
		width: rem(15px);
	}
}

.c-dropdown__menu {
	top: 100%;
	transform-origin: 0% 0%;
	transition: opacity 300ms ease, visibility 0ms 300ms;
	opacity: 0;

	&.is-open {
		visibility: visible;
		pointer-events: auto;
		opacity: 1;
		transition-delay: 0ms;
	}

	[data-dropdown-item] {
		&:focus,
		&.is-selected {
			// @apply  bg-white;

			outline: 0;
		}

		&.is-selected {
			opacity: 0.5;
		}
	}
}
