{% import '@helpers' as h %}



<div class="relative" data-behaviour="dropdownExample" id="filter-dd">
	<a data-dropdown-button="" href="#fdd">
		<span class="whitespace-no-wrap text-sm mr-12">Dropdown</span>
	</a>
	<div class="absolute pin-l whitespace-no-wrap dropdown-menu invisible pointer-events-none opacity-0" data-dropdown-menu id="fdd">
		<ul class="list-reset rounded bg-white max-h-80 overflow-auto">
			<li>
				<a href="#0" data-dropdown-item>Word</a>
			</li>
			<li>
				<a href="#0" data-dropdown-item>Word</a>
			</li>
			<li>
				<a href="#0" data-dropdown-item>Word</a>
			</li>
			<li>
				<a href="#0" data-dropdown-item>Word</a>
			</li>
			<li>
				<a href="#0" data-dropdown-item>Word</a>
			</li>
		</ul>
	</div>
</div>
