.c-checkbox {
	&:checked + .c-checkbox__box {
		&::before {
			background: svg-load('tick.svg', fill=#4bb543) no-repeat 50%;
			background-size: rem(10px);
		}
	}
}

.c-checkbox__box {
	&::before {
		@apply .border-2 .mr-1;

		width: rem(15px);
		height: rem(15px);
		content: ' ';
	}
}
