{% import '@helpers' as h %}

{# @sandbox #}
<div id="sandbox">
  <button class="js-button" data-ref="button" data-value="10" data-thing-tits="40">button</button>
  <svg data-ref="svg" data-value="1310" data-thing="430">
    <path data-ref="svg-path"  data-value="10" data-thing="410" />
  </svg>
</div>

<div id="app">
  <button class="js-button" data-ref="button" data-value="10" data-thing-tits="40">button</button>
  <svg data-ref="svg" data-value="1310" data-thing="430">
    <path data-ref="svg-path"  data-value="10" data-thing="410" />
  </svg>
</div>
