{% import '@helpers' as h %}

{# @sandbox #}
<div id="sandbox" style="width: 200px; height: 400px; outline: 0;" tabindex="-1">
  <button class="js-button" data-ref="button" data-key="10" data-thing="40">add item</button>
</div>
