{% import '@helpers' as h %}
{% extends '@layout' %}

{# @sandbox #}

{# #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0 #}

{% block route %}data-route{% endblock %}

{% block content %}


	<div data-box="a" class="absolute flex items-center text-white justify-center trans {{ className }} bg-{{ color }} w-64 h-64">{{ title }}</div>
{% endblock %}

