{% import '@helpers' as h %}

{# @sandbox #}

<div data-spon="cart">
  <div>
    <button data-button data-id="items-1">Group 1</button>
  </div>
  <div>
    <button data-button data-id="items-2">Group 2</button>
  </div>
  <div data-ref="product"></div>
</div>

<div data-spon="basket">
  <h1>basket</h1>
  <div data-ref="list"></div>
</div>

<pre id="debug"></pre>