{% import '@helpers' as h %}
{% extends '@layout' %}

{# @sandbox #}


{% block route %}data-route{% endblock %}	

{% block content %}
<div data-barba="container" class="trans page-child" data-barba-namespace="{{ title }}">
	<div class="relative h-screen">

		<div data-behaviour="{{ behaviour }}" id="{{ behaviour }}">
			<h1>{{ title }}</h1>
		</div>


	</div>
</div>

{% endblock %}
