{% import '@helpers' as h %}
{% extends '@layout' %}

{# @sandbox #}


{% block route %}data-route{% endblock %}	

{% block content %}

	<div data-spon="basket">
		<h1>basket</h1>
		<div data-ref="list"></div>
		<div data-spon="sandbox" data-query="(min-width: 1000px)">
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
			<div style="height: 200px; margin: 200px; background-color: #4ae;"> </div>
		</div>
	</div> 


	<div data-spon="cart">
		<div class="flex mb-2" id="inner">
			<button class="p-1 mr-1 border" data-button data-id="items-1">Group 1</button>
			<button class="p-1 border" data-button data-id="items-2">Group 2</button>
		</div>
		<div class="flex flex-wrap justify-center" data-ref="product"></div>
	</div>
	

{% endblock %}
