{% import '@helpers' as h %}
{% extends '@layout' %}

{# @sandbox #}


{% block route %}data-route{% endblock %}	

{% block content %}

	<div class="h-screen flex items-center justify-center bg-blue">
		a
	</div>

	<div class="h-screen flex items-center justify-center bg-red">
		b
	</div>

	<div id="locker" class="h-screen flex items-center justify-center bg-yellow">
		c
	</div>

	<div class="h-screen flex items-center justify-center bg-purple">
		d
	</div>

	<div class="h-screen flex items-center justify-center bg-green">
		e
	</div>
	

{% endblock %}
