{% import '@helpers' as h %}
{% extends '@layout' %}

{# @sandbox #}


{% block route %}data-route{% endblock %}	

{% block content %}

	<div id="counter" data-behaviour="counter">
		<button>Add</button>
		<div id="value">value</div>
	</div>
	

{% endblock %}
