{% import '@helpers' as h %}
{% extends '@layout' %}

{# @sandbox #}

{% block route %}data-route="terry"{% endblock %}



{% block content %}

  <h1>Page 2</h1>
  <div data-spon="cart">
    <div class="flex mb-2">
      <button class="p-1 mr-1 border" data-button data-id="items-1">Group 1</button>
      <button class="p-1 border" data-button data-id="items-2">Group 2</button>
    </div>
    <div class="flex flex-wrap justify-center" data-ref="product"></div>
  </div>

  <div data-spon="basket">
    <h1>basket</h1>
    <div data-ref="list"></div>
  </div>

  <pre id="debug"></pre>

{% endblock %}

