{% import '@helpers' as h %}


<a href="#{{ target }}" class="text-grey-dark">Open modal</a>


<div id="{{ target }}" class="hidden" data-name="{{ name }}">
  modal contents
</div>


<div class="c-modal perf-fixed pin w-full bg-black-60 opacity-0 z--1 flex items-center justify-center pointer-events-none">
	<div class="c-modal__inner relative bg-white">
		<a class="absolute text-grey pin-t pin-r pt-1 pr-1 trans" data-modal-close="" href="#0">
			<span class="visuallyhidden">Close</span>
			<i class="icon icon--ui-close"><svg><use xlink:href="#ui-close"></use></svg></i>
		</a>
		<div class="c-modal__content bg-white"></div>
	</div>
</div>