<div class="inline-flex">
  <input class="c-radio appearance-none opacity-0 w-px h-px float-left absolute" id="r1" name="radio" type="radio" placeholder="subscribe">
  <label class="c-radio__box block text-grey-darker text-sm flex items-center" for="r1">
    Yes
  </label>
</div>
<div class="inline-flex">
  <input class="c-radio appearance-none opacity-0 w-px h-px float-left absolute" id="r2" name="radio" type="radio" placeholder="subscribe">
  <label class="c-radio__box block text-grey-darker text-sm flex items-center" for="r2">
    No
  </label>
</div>