/* stylelint-disable */

.icon {
	position: relative;
	display: block;
	max-width: 100%;

  > svg {
    position: absolute;
		width: 100%;
		max-width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &:after {
    content: "";
    display: block;
    height: 0; 
    width: auto;
  }
}

.icon--ui-instagram-a {
  width: rem(20.04px);
  &:after {
    padding-bottom: 100%;
  }
}
.icon--ui-instagram-b {
  width: rem(20.04px);
  &:after {
    padding-bottom: 100%;
  }
}




$icon--ui-instagram-a-width: 20px;
$icon--ui-instagram-a-height: 20px;
$icon--ui-instagram-a-ratio: 1;

$icon--ui-instagram-b-width: 20px;
$icon--ui-instagram-b-height: 20px;
$icon--ui-instagram-b-ratio: 1;
