/* stylelint-disable */

.icon {
	position: relative;
	display: block;
	max-width: 100%;

  > svg {
    position: absolute;
		width: 100%;
		max-width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &:after {
    content: "";
    display: block;
    height: 0; 
    width: auto;
  }
}

.icon--ui-close {
  width: rem(17px);
  &:after {
    padding-bottom: 100%;
  }
}
.icon--ui-pause {
  width: rem(18px);
  &:after {
    padding-bottom: 150%;
  }
}
.icon--ui-play {
  width: rem(16px);
  &:after {
    padding-bottom: 112.5%;
  }
}




$icon--ui-close-width: 17px;
$icon--ui-close-height: 17px;
$icon--ui-close-ratio: 1;

$icon--ui-pause-width: 18px;
$icon--ui-pause-height: 27px;
$icon--ui-pause-ratio: 1.5;

$icon--ui-play-width: 16px;
$icon--ui-play-height: 18px;
$icon--ui-play-ratio: 1.125;
