.c-select {
	select {
		cursor: pointer;
	}

	select:disabled {
		opacity: 0.5;
		cursor: default;
	}

	/* stylelint-disable no-eol-whitespace */

	&::after {
		// @apply  border-l
		// rotate--45
		// border-b
		// border-blue-dark
		// absolute
		// pin-y
		// pin-r
		// mr-1
		// my-auto
		// z-10
		// pointer-events-none;

		cursor: pointer;
		content: ' ';
		width: rem(10px);
		height: rem(10px);
	}
}
