
{% set extend = '/wrapper/_layout.twig' %}
{% extends extend %}
{% block critical_css %}
	<!-- build:critical-->
	<!-- endbuild -->
{% endblock %}

{% block content %}
	<div data-behaviour="Demo">
		<a href="{{ BASE_PATH }}/">Home page</a>
	</div>
{% endblock %}
