<table class="c-table w-full">
  <thead>
    <tr>
      <th class="text-left align-top bg-grey-lighter py-0-5 font-bold">Firstname</th>
      <th class="text-left align-top bg-grey-lighter py-0-5 font-bold">Lastname</th> 
      <th class="text-left align-top bg-grey-lighter py-0-5 font-bold">Age</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-left align-top bg-grey-lighter border-t py-0-5">Firstname</th>
      <th class="text-left align-top bg-grey-lighter border-t py-0-5">Lastname</th> 
      <th class="text-left align-top bg-grey-lighter border-t py-0-5">Age</th>
    </tr>
  </tfoot>
  <tbody>
    {% for i in range(0, 4) %}
      <tr>
        <td class="align-top py-0-5 pr-0-5 bg-grey-lighter">Jill</td>
        <td class="align-top py-0-5 pr-0-5 bg-grey-lighter">Smith</td> 
        <td class="align-top py-0-5 pr-0-5 bg-grey-lighter">50</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
