<table class="c-table w-full">
  <thead>
    <tr>
      <th class="text-left align-top border-b py-2 font-bold">Firstname</th>
      <th class="text-left align-top border-b py-2 font-bold">Lastname</th> 
      <th class="text-left align-top border-b py-2 font-bold">Age</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class="text-left align-top border-b border-t py-2">Firstname</th>
      <th class="text-left align-top border-b border-t py-2">Lastname</th> 
      <th class="text-left align-top border-b border-t py-2">Age</th>
    </tr>
  </tfoot>
  <tbody>
    {% for i in range(0, 4) %}
      <tr>
        <td class="align-top py-2 pr-2">Jill</td>
        <td class="align-top py-2 pr-2">Smith</td> 
        <td class="align-top py-2 pr-2">50</td>
      </tr>
    {% endfor %}
  </tbody>
</table>