
<ul class="list-reset">
  {% for i in range(0, 6) %}
    <li class="mb-0-25 bg-grey-lighter">
      <a class="block text-blue hover:text-blue-darker no-underline p-0-5" href="#">Item number {{ loop.index }}</a>
    </li>
  {% endfor %}
</ul>