.c-rich-text {
	@apply text-ms-0;

	*:not(:last-child) {
		@apply mb-1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.125;
	}

	h1 {
		@apply text-ms-6;
	}

	h2 {
		@apply text-ms-5;
	}

	h3 {
		@apply text-ms-4;
	}

	h4 {
		@apply text-ms-3;
	}

	h5 {
		@apply text-ms-2;
	}

	h6 {
		@apply text-ms-1;
	}

	blockquote {
		@apply bg-grey border-l-5 border-grey p-1;
	}

	ol {
		@apply mt-0-5 ml-0-5;

		list-style: decimal outside;
	}

	ul {
		@apply mt-0-5 ml-0-5;

		list-style: disc outside;

		ul {
			@apply mt-0-25;

			list-style-type: circle;

			ul {
				list-style-type: square;
			}
		}
	}

	sub,
	sup {
		font-size: 75%;
	}

	table {
		@apply w-full text-left;

		td,
		th {
			@apply p-0-5 align-top;
		}

		tr:nth-child(odd) {
			td {
				@apply bg-grey-lighter;
			}
		}

		thead {
			td,
			th {
				@apply border-b-2;
			}
		}

		tfoot {
			td,
			th {
				@apply border-t-2;
			}
		}
	}

	dl,
	dt,
	dd {
		margin: 0;
		padding: 0;
	}

	dl {
		display: grid;
		grid-column-gap: 20px;
		grid-template-columns: rem(100px) auto;
		grid-template-rows: auto;
	}
}
