@keyframes spinAround {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(359deg);
	}
}

.c-submit {
	&:disabled {
		opacity: 0.3;
	}

	&[data-loading] {
		@apply relative;

		&::after {
			@apply absolute my-auto mr-0-5 pin-y pin-r block rounded-full border-2;

			animation: spinAround 0.5s infinite linear;
			border-right-color: transparent;
			border-top-color: transparent;
			content: '';
			height: rem(15px);
			width: rem(15px);
		}
	}
}
