/* stylelint-disable */

.icon {
	position: relative;
	display: block;
	max-width: 100%;

  > svg {
    position: absolute;
		width: 100%;
		max-width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
  }

  &:after {
    content: "";
    display: block;
    height: 0; 
    width: auto;
  }
}

.icon--chevron-down-symbol {
  width: rem(20px);
  &:after {
    padding-bottom: 65%;
  }
}




$icon--chevron-down-symbol-width: 20px;
$icon--chevron-down-symbol-height: 13px;
$icon--chevron-down-symbol-ratio: 0.65;
