{% import '@helpers' as h %}
<div class="rounded bg-grey-lighter md:flex md:items-stretch">
  <div class="md:w-6/24">
    <img class="h-full w-full object-cover"  src="https://images.unsplash.com/photo-1512933059723-2c1872655ce1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=600&h=400&fit=crop&s=b9128991d9f18cd22b8a3083363928cc" alt="Snow covered leaves on a tree, with an owl">
  </div>
  <div class="p-1 flex-1">
    <h2 class="font-bold text-h2 mb-1">Maiores et perferendis </h2>
    <p class="text-grey">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
</div>