

<div className="c-accordion" aria-multiselectable="true">
      <div data-accordion class="relative overflow-hidden" class="mb-4">
      <button data-accordion-button class="appearance-none w-full py-2 text-left font-bold">
        Panel 1
      </button>
      <div data-accordion-content>
        <div class="py-2">
          <h2 class="mb-2">Title 1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </div>
      <div data-accordion class="relative overflow-hidden" class="mb-4">
      <button data-accordion-button class="appearance-none w-full py-2 text-left font-bold">
        Panel 2
      </button>
      <div data-accordion-content>
        <div class="py-2">
          <h2 class="mb-2">Title 2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </div>
      <div data-accordion class="relative overflow-hidden" class="mb-4">
      <button data-accordion-button class="appearance-none w-full py-2 text-left font-bold">
        Panel 3
      </button>
      <div data-accordion-content>
        <div class="py-2">
          <h2 class="mb-2">Title 3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </div>
      <div data-accordion class="relative overflow-hidden" class="mb-4">
      <button data-accordion-button class="appearance-none w-full py-2 text-left font-bold">
        Panel 4
      </button>
      <div data-accordion-content>
        <div class="py-2">
          <h2 class="mb-2">Title 4</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </div>
      <div data-accordion class="relative overflow-hidden" class="mb-4">
      <button data-accordion-button class="appearance-none w-full py-2 text-left font-bold">
        Panel 5
      </button>
      <div data-accordion-content>
        <div class="py-2">
          <h2 class="mb-2">Title 5</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </div>
      <div data-accordion class="relative overflow-hidden" class="mb-4">
      <button data-accordion-button class="appearance-none w-full py-2 text-left font-bold">
        Panel 6
      </button>
      <div data-accordion-content>
        <div class="py-2">
          <h2 class="mb-2">Title 6</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quia numquam fugit dolore, non distinctio deserunt dignissimos minus! Et.
          </p>
        </div>
      </div>
    </div>
  </div>
