

<div class="c-dropdown relative inline-flex" data-ui="dropdown">
  <button data-dropdown-button class="c-dropdown__btn no-apperance border py-2 px-2 relative inline-flex items-center justify-between" aria-haspopup="true" aria-controls="dropdown-menu">
    <span class="mr-2" data-dropdown-label>Dropdown button</span>
  </button>
  <div class="c-dropdown__menu absolute pt-1 z-2 invisible pointer-events-none" id="dropdown-menu" data-dropdown-menu role="menu" data-flip-key="dropdown">
    <div class="border">
      <a href="#0" class="block px-2 py-2 whitespace-no-wrap no-underline">
        Dropdown item
      </a>
      <a href="#0" class="block px-2 py-2 whitespace-no-wrap no-underline">
        Other dropdown item
      </a>
      <a href="#0" class="block px-2 py-2 whitespace-no-wrap no-underline">
        Active dropdown item
      </a>
      <a href="#0" class="block px-2 py-2 whitespace-no-wrap no-underline">
        Other dropdown item
      </a>
    </div>
  </div>
</div>
