


<ul class="list-reset">
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 1</a>
    </li>
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 2</a>
    </li>
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 3</a>
    </li>
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 4</a>
    </li>
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 5</a>
    </li>
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 6</a>
    </li>
      <li class="mb-1 border-b">
      <a class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 7</a>
    </li>
  </ul>
