


<a href="#0" data-micromodal-trigger="modal-1" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 no-underline inline-flex">Open Modal</a><div class="c-modal" id="modal-1" aria-hidden="true">
  <div tabindex="-1" data-micromodal-close class="fixed pin flex items-center justify-center bg-black-60pc">
    <div role="dialog" aria-modal="true" aria-labelledby="modal-1-title" class="relative bg-white overflow-y-scroll max-h-screen w-full max-w-md p-5">
      <header class="mb-3"> 
        <h2>Modal Title</h2>
        
<button aria-label="Close modal" data-micromodal-close class="o-close o-close--right absolute flex items-center justify-center">
  <span class="block relative">
    	<i class="icon icon--ui-close">
		<svg>
			<use class="no-barba" xlink:href="#ui-close"></use>
		</svg>
	</i>

  </span>
</button>      </header>
      <div class="mb-3">
        Modal Content
      </div>
      <a href="#0" data-micromodal-close aria-label="Close this dialog window" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 no-underline inline-flex">Close</a>    </div>
  </div>
</div>
