


<nav class="c-nav" role="navigation" aria-label="Main menu">
  <ul class="list-reset lg:flex relative">
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-1" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 1</a>
        <a href="#menu-item-1" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-1" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-1" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-2" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 2</a>
        <a href="#menu-item-2" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-2" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-2" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-3" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 3</a>
        <a href="#menu-item-3" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-3" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-3" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-4" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 4</a>
        <a href="#menu-item-4" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-4" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-4" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-5" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 5</a>
        <a href="#menu-item-5" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-5" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-5" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-6" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 6</a>
        <a href="#menu-item-6" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-6" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-6" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
          <li role="menuitem" class="flex flex-wrap items-center justify-between c-nav__parent mb-1 border-b lg:border-0 lg:relative">
        <a tabindex="0" aria-haspopup="true" aria-owns="item-7" class="block text-blue hover:text-blue-darker no-underline p-2" href="#">Item number 7</a>
        <a href="#menu-item-7" class="c-nav__item-btn flex lg:hidden items-center justify-center">
          	<i class="icon icon--ui-chevron">
		<svg>
			<use class="no-barba" xlink:href="#ui-chevron"></use>
		</svg>
	</i>

        </a>
        <div id="menu-item-7" class="c-nav__dropdown hidden pointer-events-none w-full lg:block lg:w-auto lg:absolute lg:opacity-0" role="group" aria-expanded="false" aria-labelledby="item-7" aria-hidden="true">
          <ul class="list-reset">
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 1</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 2</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 3</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 4</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 5</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 6</a>
              </li>
                          <li class="mb-1 px-3 lg:px-0 lg:border-b">
                <a class="block p-1 text-blue hover:text-blue-darker no-underline whitespace-no-wrap lg:p-2" href="#0" tabindex="-1">Item number 7</a>
              </li>
                      </ul>
        </div>
      </li>
      </ul>
</nav>


