


<a href="#0"  class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 no-underline inline-flex">Open</a>
<div class="c-off-canvas fixed pin w-screen h-screen">
  <div data-canvas-close class="absolute pin bg-black-60pc w-full h-full">
    <div class="absolute pin-t pin-l w-full max-w-md bg-white h-full">
      
<button data-canvas-close class="o-close o-close--right absolute flex items-center justify-center">
  <span class="block relative">
    	<i class="icon icon--ui-close">
		<svg>
			<use class="no-barba" xlink:href="#ui-close"></use>
		</svg>
	</i>

  </span>
</button>    </div>
  </div>
</div>
