

<div class="relative overflow-hidden h-screen" data-ui="slide">
  <ul class="list-reset relative h-full">
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				1
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				2
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				3
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				4
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				5
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				6
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				7
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				8
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				9
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				10
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full  flex items-center justify-center text-5xl">
				11
      </li>
      </ul>
  <button href="#0" data-slide-prev class="c-slide__btn c-slide__btn--prev block absolute z-10 u-center-vert">
    	<i class="icon icon--ui-prev">
		<svg>
			<use class="no-barba" xlink:href="#ui-prev"></use>
		</svg>
	</i>

  </button>
  <button data-slide-next class="c-slide__btn c-slide__btn--next block absolute z-10 u-center-vert">
    	<i class="icon icon--ui-next">
		<svg>
			<use class="no-barba" xlink:href="#ui-next"></use>
		</svg>
	</i>

  </button>
</div>
<div class="relative overflow-hidden h-screen" data-ui="slide">
  <ul class="list-reset relative h-full">
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				1
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				2
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				3
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				4
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				5
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				6
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				7
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				8
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				9
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				10
      </li>
          <li data-slide-item class=" invisible absolute pin-t pin-l w-full h-full flex items-center justify-center text-5xl">
				11
      </li>
      </ul>
  <button href="#0" data-slide-prev class="c-slide__btn c-slide__btn--prev block absolute z-10 u-center-vert">
    	<i class="icon icon--ui-prev">
		<svg>
			<use class="no-barba" xlink:href="#ui-prev"></use>
		</svg>
	</i>

  </button>
  <button data-slide-next class="c-slide__btn c-slide__btn--next block absolute z-10 u-center-vert">
    	<i class="icon icon--ui-next">
		<svg>
			<use class="no-barba" xlink:href="#ui-next"></use>
		</svg>
	</i>

  </button>
</div>



