/*
  Third party dependencies
*/

@import '../../node_modules/sass-mq/mq.scss';
@import '_system/core/units';
@import '_system/core/colors';
@import '_system/core/type';
@import '_system/core/spaces';
@import '_system/core/mq';
@import '_system/core/misc';

$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

*,
*::before,
*::after {
	box-sizing: border-box;
}

@tailwind preflight;
@tailwind utilities;

@import 'helpers/svg-symbols';

/*
  third party chuff
*/
@import 'vendor/plyr/plyr';

/*
  [01] Base Styles
  [02] Object patterns
  [03] Global elements patterns
  [04] Components patterns
  [05] Pages
*/

@import '../templates/**/**/**/*';
