.c-select {
	&::after {
		@apply .border-b .border-l .border-blue .block .absolute .z-10 .pointer-events-none;

		transform: rotate(-45deg);
		transform-origin: center;
		height: rem(8px);
		width: rem(8px);
		margin-top: rem(-6px);
		right: rem(15px);
		top: 50%;
		content: ' ';
	}
}
