{# 
{% include '@header' %} #}
<main id="page-wrapper" class="w-full" data-behaviour="Modal">
	<div class="page-child">
		{% block content %}
		{% endblock %}
	</div>
</main>
{# {% include '@footer' %} #}
